.player {
  background: #e8eaec;
  height: 24px;
  border-radius: 8px;
  padding: 8px;
  display: flex;
  align-items: center;
}

.controls {
  flex: 1;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr 2fr 1fr;
  column-gap: 6px;
  justify-items: center;
  align-items: center;
}

.control-item {
  width: 100%;
}

.spin-icon {
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.audio-duration {
  font-size: 13px;
  color: #727476;
}

.volume-control {
  display: flex;
  justify-items: center;
  align-items: center;
}
